---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticleCard from "@components/ArticleCard.astro";

const allPosts = await getCollection("posts");

allPosts.sort((a, b) => {
  const timeA = new Date(a.data.pubDate).getTime();
  const timeB = new Date(b.data.pubDate).getTime();
  return timeB - timeA;
});

const postsPerPage = 15;
const firstPagePosts = allPosts.slice(0, postsPerPage);

const type = "blogList";

const isDev = import.meta.env.DEV;
const base = isDev ? 'http://localhost:4321' : Astro.site?.href ?? 'https://wildgreen.blog';
const resolve = (path: string): string => new URL(path, base).href;
---

<BaseLayout
  title="WildGreen Articles — Eco Travel Guides, Green Living Tips"
  description="Browse WildGreen’s curated articles on mindful travel, climate awareness, and sustainable living. From destination tips to eco-friendly habits."
  type={type}
  url={resolve(Astro.url.pathname)}
  itemList={firstPagePosts.map(post => ({
    title: post.data.title,
    url: resolve(`/${post.slug || post.id}/`)
  }))}
>
  <section class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    {firstPagePosts.map(post => (
      <ArticleCard
        title={post.data.title}
        description={post.data.description}
        pubDate={post.data.pubDate}
        slug={post.slug}
        id={post.id}
        url={resolve(`/${post.slug || post.id}/`)}
      />
    ))}
  </section>
</BaseLayout>
